@mixin center($justify: center){
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin border-bottom($color){
  border: none;
  outline: none;
  border: 4px solid $color;
}

Header{
  @include center(space-between);
  width: 100%;
  padding: 0.4rem 1rem;
}

Header nav{
  @include center(space-around);
  width: 60%;
  height: 2rem;
  max-width: 30rem;
  flex-wrap: wrap;
  gap: 1rem;
}

Header nav a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Pacifico', Arial, Helvetica, sans-serif;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}


#main{
  margin: 8rem auto;
  text-align: center;
  max-width: 40rem;
  position: relative;
}

#main #Quote{
  min-height: 8rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 1.5rem;
}

#save{
  position: absolute;
  font-size: 1.3rem;
  bottom: 10rem;
  right: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

#main #AuthorName{
  margin: 0.4rem;
}
#main #Social{
  @include center(space-between);
  width: 100%;
  padding: 0 0.4rem;
}

#search{
  background: none;
  font-size: 1rem;
  padding: 0.6rem;
  text-align: center;
  height: 3rem;
  border: none;
  width: 9rem;
  appearance: none;
  @include border-bottom(rgb(86, 190, 190));
  transition: border 0.6s;
  color: white;
  font-weight: bold;
}
#input{
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-top: 3.5rem;
  opacity: 0.99;
}

#border-animate,#border-animate2{
  width: 0;
  height: 0;
  position: absolute;
}
#border-animate{
  border-left: 4px solid cyan;
  border-top: 4px solid cyan;
  top: 0;
  left: 0;
  height: 0%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

#border-animate2{
  border-right: 4px solid cyan;
  border-bottom: 4px solid cyan;
  bottom: 0;
  right: 0;
  height: 0%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

#search:hover ~ div{
  height: 100%;
  width: 100%;
}
#search:hover{
  border-color: transparent;
}

#Social{
  height: auto;
  @include center(space-between);
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
#Social button {
  background: linear-gradient(135deg, rgb(179, 180, 171) 0%, rgba(157, 163, 112, 1) 100%);
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.3rem;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 0.3rem;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: fit-content;
}


#Social button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#Social #share{
  @include center();
  gap: 0.2rem;
}

#Social #share a {
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
  padding: 0.2rem 0;
  flex-shrink: 1;
}

#Social #share a #facebook {
  color: #3b5998;
}

#Social #share a #twitter {
  color: #1da1f2; /* Twitter blue */
}

#Social #share a #linkedin {
  color: #0077b5; /* LinkedIn blue */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fade-in{
  opacity: 1;
  transition: opacity 0.3s ease;
}

#fav-quotes{
  border: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f9f9f9;
  width: 80%;
  padding: 2rem 1rem;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: -10px 0px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(30rem);
  max-width: 30rem;
}
#modal{
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
}
#fav-quotes span{
  position: absolute;
  top: 0;
  left: 0.6rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#save:active{
  transform: scale(0.9);
}
.f-in#fav-quotes{
  transform: translateX(0);
}
.modal#modal{
  display: block;
}

.favquotes{
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
  background-color: #fff;
}

@media (pointer: fine) or (pointer: hover) or (hover: hover){
  #Social #share a:hover{
    transform: scale(1.3);
  }
  #Social button:hover {
    background: linear-gradient(135deg, rgb(182, 182, 105) 0%, rgba(157, 163, 112, 1) 100%);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  #save:hover,#save:active{
    transform: scale(1.4);
  }
}


@media screen and (max-width: 26.3rem){
  #Social button:active {
    background: linear-gradient(135deg, rgb(79, 80, 72) 0%, rgb(107, 107, 101) 100%);
    transform: scale(0.9);
    box-shadow: none;
  }
  #Social{
    column-gap: 3rem
  }
  #Social button{
    margin: auto;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  #search{
    color: black
  }
  #save{
  font-size: 1.6rem;
  top: 6rem;
}
#fav-quotes span{
  font-size: 2rem;
}

}
