*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;

    background-image: url('/public/Background.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 57rem){
    #root{
    background-position: center 60%;
    }
}