*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-image: url('/public/Background.jpg');

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

@media (orientation: landscape) and (pointer: coarse){

    #root {
        height: auto;
        overflow: hidden;
    }
}

@media screen and (min-width: 57rem){
    #root{
    background-position: center 60%;
    }
}